<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="/static/css/starter-template.css" rel="stylesheet">
	<link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
	
    <script>
	    function fn_id_check() {			
			$.ajax({
				url	: '/root/check_name'
				,type : 'POST'
				,data : {'sId' : $("#inputEmail").val()}
				,success : function(data) {
					if (data.result) {
						alert("사용 가능한 Email입니다.");
					} else {
						alert("이미 존재하는 Email입니다.");
					}
				}
			});
		}
		
		function info_check() {		
			$.ajax({
				url	: '/member/regist'
				,type : 'POST'
				,data : {'sId' : $("#inputEmail").val()
						, 'sPassword' : $("#inputPassword").val()
				}
				,success : function(data) {
						alert("회원가입 성공!");
						location.href = "/root/login";
				}
			});
		}
    </script>
</head>

<body>
	
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">MyNote</h3>
					</div>
				</div>
				
				
				<div class="container">

					<form class="form-signin">
						<h2 class="form-signin-heading"># Sign Up</h2>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
						<input type="button" class="btn btn-primary" value="OK" onclick="javascript:fn_id_check();"/>
						<label for="inputPassword" class="sr-only">Password</label>
						<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						<input type="button" class="btn btn-primary" value="Sign Up" onclick="javascript:info_check();"/>
						<!--<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="javascript:info_check();">Sign Up</button>-->
					</form>

				</div>
				<!-- /container -->

			</div>

		</div>

	</div>
</body>
</html>