<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>

	<script>
	function logout() {
		alert("로그아웃 하시겠습니까?");
		location.href = "/logout";
	}
	</script>
	
</head>
<body>
	{% include 'header.html' %}
	
    <div class="jumbotron">
      <div class="container">
        <h1># My File</h1>
        <p><h5>중요한 이미지 파일들을 업로드하여 보관할 수 있고, 다운로드하여 저장 할 수 있습니다.</h5></p>
      </div>
    </div>
    
    <!-- 파일 업로드 -->
      <div class="form-group">
    <label for="exampleInputFile">파일 업로드</label>
    <input type="file" id="exampleInputFile">
  	 </div>
  	 
  	<button type="button" class="btn btn-primary btn-xs">등록</button>
  	<br>
  	<h3 class="sub-header"><span class="glyphicon glyphicon-download-alt"> File Upload</span></h3>
  	<br>
  	
  	 <!-- 이미지 목록 -->
   	  <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>image1</h2>
          <button type="button" class="btn btn-primary btn-xs">저장</button>
        </div>
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>image2</h2>
          <button type="button" class="btn btn-primary btn-xs">저장</button>
        </div>
       	<div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>image3</h2>
          <button type="button" class="btn btn-primary btn-xs">저장</button>
        </div>
      </div><!-- /.row -->
	<hr>

</body>
</html>