<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>

	<script>
		function remove2(numId){
			if (confirm("삭제 하시겠습니까?") == true){  
					$.ajax({
		   				url : '/file/remove/'+ numId
		   				,type : 'GET'
		   				, success : function(result){
			   				if (result == "True"){   
					   				alert("삭제 성공!");
					   				location.href = "/file/upload";
							}else{
									alert("삭제 실패!");
								    location.href = "/file/upload";
							}
					    }
					});
			} else {
				location.href = "/file/upload";
			}
		}
	</script>
	
</head>
<body>
	{% include 'header.html' %}
	
    <div class="jumbotron">
      <div class="container">
        <h1># My File</h1>
        <p><h5>중요한 이미지 파일들을 업로드하여 보관 및 삭제할 수 있는 앨범형식의 게시판 입니다.</h5></p>
      </div>
    </div>
    
    <!-- 파일 업로드 -->
	<form action="/file/upload" method="post" enctype="multipart/form-data">
	    <h3 class="sub-header"><span class="glyphicon glyphicon-download-alt" style="margin-left: 20px;"> File Upload</span></h3>
	    <div class="form-group" style="margin-left: 40px;">
	    	<!-- <label for="exampleInputFile" ># 파일 업로드</label> -->
	    	<br>
	    	<input type="file" name="fileName" id="inputFile">
	  	</div>
	  	<input type="submit" class="btn btn-default btn-xs" style="margin-left: 40px;" value="등록" /> 
	  	<br><br><br>
	</form>
  	
  	
  	<h3 class="sub-header"><span class="glyphicon glyphicon-picture" style="margin-left: 10px;"> File List</span></h3>
  	<br>
  	 <!-- 이미지 목록 -->
  	 <div class="row" style="margin-left: 10px;">
  	 {% for file in tFile %}
        <div class="col-xs-6 col-sm-3">
          <img class="img-thumbnail" src="{{ url_for('static',filename='resource/upload/') }}{{ file.nNum }}.{{ file.sType }}" style="width:250px; height:180px;">
          <br>
          <input type="button" class="btn btn-default btn-xs" value="삭제" onclick="javascript:remove2('{{ file.nNum }}');"/>
          <br><br>
        </div>
     {% endfor %}
     	<br>
     </div>


	{% if pagination %}
      <div class="row-fluid" align="center">
          <div class="span12">
          <p>
              {% from "_pagehelpers.html" import render_pagination %}
              {{ render_pagination(pagination) }}
          </p>
          </div>
      </div>
    {% else %}
    <!-- do nothing! -->
    {% endif %}

</body>
</html>