<!DOCTYPE html>
<html>
<head>
	<title>Diary List</title>
	
	<script>
	function logout() {
		alert("로그아웃 하시겠습니까?");
		location.href = "/logout";
	}
	</script>
	
</head>
<body>
	{% include 'header.html' %}

    <div class="jumbotron">
      <div class="container">
        <h1># My Diary</h1>
        <p><h5>게시판 형식의 다이어리로 간단한 메모나 기억해야 할 사항들까지 편리하게 작성 가능합니다.</h5></p>
      </div>
    </div>
    
    <h3 class="sub-header"><span class="glyphicon glyphicon-list-alt"> Diary List</span></h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary btn-xs">글쓰기</button>
          
</body>
</html>