<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css" media="screen" title="simulationlog" charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css" media="screen" title="simulationlog" charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/common.css') }}" type="text/css" media="screen" charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}" type="text/css" media="screen" charset="UTF-8" />
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.3.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.post.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/list.js') }}"></script>
	</head>
	<body style="width:715px;">
	<input type="hidden" id="sel_category_code" value="{{ category_code }}" />
	<input type="hidden" id="current_url" value="{{ url }}" />
	<br/>	
	<div class="category_nav">
		<h4>{{ category_tree }}</h4>
		<ul class="category_dep1" id="menu">
		{% for key, value in category_nav.iteritems() %}
			<li catecode="{{ value.Cate1_c }}" depth="1">{{ value.Cate_n }}
			{% if value %}
				<ul class="category_dep2">
				{% for key2, value2 in value.iteritems() %}
					{% if key2 != 'Cate2_c' and key2 != 'Cate3_c' and key2 != 'Cate4_c' and key2 != 'Cate1_c' and key2 != 'Cate_n' %}
					<li catecode="{{ value2.Cate1_c }}|{{ value2.Cate2_c }}" depth="2">{{ value2.Cate_n }}
					{% if value2 %}
						<ul class="category_dep3">
						{% for key3, value3 in value2.iteritems() %}
							{% if key3 != 'Cate2_c' and key3 != 'Cate3_c' and key3 != 'Cate4_c' and key3 != 'Cate1_c' and key3 != 'Cate_n' %}
							<li catecode="{{ value3.Cate1_c }}|{{ value3.Cate2_c }}|{{ value3.Cate3_c }}" depth="3">{{ value3.Cate_n }}
							{% if value3|length > 5 %}
								<ul class="category_dep4">
								{% for key4, value4 in value3.iteritems() %}
									{% if key4 != 'Cate2_c' and key4 != 'Cate3_c' and key4 != 'Cate4_c' and key4 != 'Cate1_c' and key4 != 'Cate_n' %}
									<li catecode="{{ value4.Cate1_c }}|{{ value4.Cate2_c }}|{{ value4.Cate3_c }}|{{ value4.Cate4_c }}" depth="4">{{ value4.Cate_n }}
									{% endif %}									
								{% endfor %}
								</ul>
							{% endif %}
							{% endif %}
						{% endfor %}
						</ul>
					{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<br/>
	<br/>
	<h4>* 정제 상품명(1) 조건 : <span style="color:red;">형태소 분석 추출 >>> 제조사 + 브랜드 + 일반단어 + 모델명</span></h4>
	<h4>* 정제 상품명(2) 조건 : <span style="color:red;">임의의 특정패턴 제거</span></h4>
	<h4>* 정제 상품명(3) 조건 : <span style="color:red;">형태소 분석 추출 >>> 브랜드 + 제조사 + 모델명</span></h4>
	<div class="board_search">
		<form id="bd_search" method="post" onsubmit="javascript:return false;">
			<dd style="padding-right: 5px;padding-top: 2px;">
				<img width="39" height="21" style="cursor: pointer;" id="search_btn" src="http://img.danawa.com/new/prod_list/img/btn_PriceN.gif"/>
			</dd>
			<dd style="padding-top: 2px;font-size: 9pt;">
				<span><strong>상품명</strong> : </span>
				<input name="q" id="q" class="search_in" style="margin-right: 5px;" maxlength="100" value="{{ search_word }}" onkeypress="board_search_enter(document.q);">
			</dd>
		</form>
	</div>
	<br/>
	<div id="resultTxt" style="width:715px;">
		<table>
			<colgroup>
				<col width="10%"/>
				<col width="65%"/>									
				<col width="*"/>	
			</colgroup>	
			<tbody>
			{% if board_list_count > 0 %}
				{% for key, val in board_list.iteritems() %}
				<tr>
					<td><img src="{{ val['IMG_URL'] }}" style="width:100px;height:100px;max-width:100%;max-height:100%;"></td>
					<td class="Naming">
						<span style="color:blue;">상품명</span> : <a onclick="javascript:detail_pop('{{ val['SSIMPROD_HASH_CODE'] }}');" href="javascript:void(0);">{{ val['LINK_PROD_N'] }}</a>
						<br/>
						<br/>
						<span style="color:red;">정제 상품명(1)</span> : 
						<br/>
						<br/>
						<span style="color:red;">정제 상품명(2)</span> : <?php echo $val['REFINE_STR2']; ?>
						<br/>
						<br/>
						<span style="color:red;">정제 상품명(3)</span> : {{ val['REFINE_STR3'] }}
					</td>
					<td class="prodinfo">
						<dl>
							<dt>
								<span class="point_orange">
									{{ val['PRICE'] }}원
								</span>
								<p class="card_discount">
									<span class="point_card">
										업체수 : {{ val['GROUP_CNT'] }}
									</span>
									<br/>
									<span class="point_card">
										판매몰 : {{ val['SHOP_N'] }}
									</span>									
								</p>
							</dt>
						</dl>
					</td>
				</tr>
				{% endfor %}
			{% endif %}
				<tr>
					<td class="listline" colspan="4"></td>
				<tr/>
			</tbody>
		</table>
		<br/>
		{% if pagination %}
            <div class="row-fluid" align="center">
                <div class="span12">
                <p>
                    {% from "_pagehelpers.html" import render_pagination %}
                    {{ render_pagination(pagination, category_code) }}
                </p>
                </div>
            </div>
        {% else %}
        <!-- do nothing! -->
        {% endif %}		
	</div>
	</body>
</html>