<!DOCTYPE html>
<html>
<head>
	<title>Write Diary</title>

</head>
<body>
	{% include 'header.html' %}
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyNote</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"> Home</span></a></li>
            <li><a href="diary/diary.html"><span class="glyphicon glyphicon-book"> Diary</span></a></li>
            <li><a href="file/file.html"><span class="glyphicon glyphicon-inbox"> File</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="jumbotron">
      <div class="container">
        <h1># My Diary</h1>
        <p><h5>게시판 형식의 다이어리로 간단한 메모나 기억해야 할 사항들까지 편리하게 작성 가능합니다.</h5></p>
      </div>
    </div>

	<h3 class="sub-header"><span class="glyphicon glyphicon-pencil"> Diary Write</span></h3>
		
	<form>
		<div class="form-group">
			<label for="InputTitle">제목</label> <input type="text"
				class="form-control" id="InputTitle"
				placeholder="제목을 입력하세요">
		</div>
		<div class="form-group">
			<label for="InputContent">내용</label>
			<textarea class="form-control" id="InputContent" placeholder="내용을 입력하세요" rows="10"></textarea>
		</div>
		<button type="button" class="btn btn-primary btn-xs">등록</button>
		<button type="button" class="btn btn-default btn-xs">취소</button>
	</form>

</body>
</html>